.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
  padding-bottom: 0;
  background-color: #eef5ff;
  min-height: 100%;
}
.logo {
  width: 750px;
  height: 395px;
}
.menu {
  margin-top: 50px;
  min-height: 450px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;
}
.nick {
  width: 200px;
  text-align: center;
  margin-left: 20px;
  color: #666;
}
.menu-btn {
  position: relative;
  width: 450px;
  margin-top: 30px;
  background-color: #e6504b;
  border: 2px #e6504b solid;
}
.icon {
  position: absolute;
  top: 20px;
  left: 40px;
}
.menu-btn.secondary {
  color: #e6504b;
  background-color: transparent;
}
// 广告
.ad-box {
  margin-top: 240px;
  width: 100%;
}
