.container {
  box-sizing: border-box;
  padding: 0 15px;
  padding-top: 20px;
  background-color: #f2f2f2;
  min-height: 100%;
}
// 卡片
.at-card {
  background-color: rgba(255,255,208,.5);
  border: 0;
  box-shadow: 2px 5px 5px #aaa;
}
.at-card__header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #aaa solid;
}
.at-card__content {
  padding-left: 0;
  padding-right: 0;
}
.grey {
  background-color: #ddd;
}
// 回合列表
.round-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.round-item {
  width: 350px;
  margin: 0;
  margin-bottom: 15px;
}
// 结果表格
.result-talbe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.table-item {
  width: 178px;
  margin: 0;
  margin-right: 2px;
  height: 100%;
  border-radius: 10px;
}
