.container {
  box-sizing: border-box;
  padding: 10px 50px;
  padding-bottom: 40px;
  background-color: #eef5ff;
  min-height: 100%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: 1px #ccc solid;
}
.index {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px 5px #aaa;
}
.nick {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.btn-list {
  margin-top: 100px;
}
.menu-btn {
  margin-top: 30px;
}
.error-btn {
  background-color: #e6504b;
  border: 1px #e6504b solid;
}
.menu-btn.secondary {
  color: #e6504b;
  background-color: transparent;
  border: 1px #e6504b solid;
}
