.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;
}
.container.reward {
  background-color: #dfb640;
  padding: 80px 40px;
}
.img-item {
  width: 100%;
}

