.word {
  flex: 1;
  display: block;
  color: #003366;
  margin-left: 24px;
  margin-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.long {
  width: 380px;
}
.llong {
  width: 580px;
}
