.row {
  display: flex;
  align-items: center;
  height: 70px;
}
.short-nick {
  width: 250px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.current {
  color: #e6504b;
}
.useritem-avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
}
