.container {
  box-sizing: border-box;
  padding: 0 15px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  min-height: 100%;
}
.rotate-container {
  animation: rotate 1s linear 1;
}
// 旋转动画
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
// 卡片
.at-card {
  background-color: rgba(255, 255, 208, 0.5);
  border: 0;
  box-shadow: 2px 5px 5px #aaa;
}
.at-card__content-note {
  margin-left: 20px;
  font-weight: bold;
  color: #cc3333;
  height: 26px;
}
.over-card .at-card__header {
  font-weight: bold;
  margin-top: 20px;
}
.at-card__header {
  padding: 10px;
  border-bottom: 1px #aaa solid;
  text-align: center;
}
.at-card__header-title {
  white-space: pre-wrap;
}
.at-card__content {
  padding-left: 0;
  padding-right: 0;
}
.grey {
  background-color: #ddd;
}
// 回合列表
.round-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.round-item {
  width: 350px;
  margin: 0;
  margin-bottom: 15px;
}
.battle-item {
  width: 100%;
  background-color: #ffcc99;
}
// 结果表格
.result-talbe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  min-height: 280px;
}
.table-item {
  width: 180px;
  margin: 0;
  margin-right: 2px;
  height: 100%;
  border-radius: 10px;
}
// 提交按钮
.submit-btn {
  height: 70px;
  line-height: 70px;
  margin: 10px 40px;
  margin-bottom: 0;
  background-color: #cc9933;
  border: 1px #cc9933 solid;
}
// 浮动按钮
.rotate-btn .at-fab {
  position: fixed;
  right: 30px;
  bottom: 160px;
  z-index: 900;
}
.home-btn .at-fab {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 900;
}
.shake.at-badge {
  animation: shake 1.5s linear infinite;
}
// 抖动动画
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(-20deg);
  }
  16% {
    transform: rotate(0deg);
  }
  24% {
    transform: rotate(20deg);
  }
  32% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// 回合状态
.round-container {
  display: flex;
  border-bottom: 1px #aaa solid;
}
.round-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 20px;
}
.round-status.right {
  border-left: 1px #aaa solid;
}
.round-status.right at-icon {
  margin-left: 30px;
}
.round-status .row {
  display: flex;
  align-items: center;
  height: 70px;
}
.round-status .row .left {
  margin-right: 20px;
}
.card-tip {
  display: block;
  font-weight: bold;
  padding: 10px 30px;
}
.over-tip {
  display: block;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  font-size: 34px;
}
// 队伍状态
.team-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-title {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px;
  margin-bottom: 5px;
  font-size: 30px;
  border-bottom: 2px solid #fff;
}
.team-title .title {
  margin-right: 40px;
}
.team-title .score {
  color: #6190e8;
  width: 180px;
  text-align: right;
}
.team-title .score.short {
  width: 100px;
}
.team-title .row {
  display: flex;
}
// 顶部标题
.title-box {
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 208, 0.5);
  text-align: center;
  border-radius: 10px;
  color: #003366;
  font-weight: bold;
  box-shadow: 2px 5px 5px #aaa;
}
// 广告
.ad-box {
  margin-top: 20px;
  width: 100%;
  z-index: 100;
}

// 图例
.tuli-container {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-left: 0;
}
.tuli {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 24px;
  margin-right: 15px;
}
.tuli .block {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.tuli .jiemi {
  background-color: #000;
}
.tuli .lanjie {
  background-color: #cc3333;
}
.tuli .key {
  background-color: #ffcc00;
}

// 倒计时
.stage-count-down-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #ffcc99;
  border-radius: 10px;
  text {
    font-size: 34px;
  }
  at-countdown-item:first-child {
    display: none;
  }
  .at-countdown--card .at-countdown__time-box .at-countdown__time {
    font-family: TrebuchetMS, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
  }
  .at-countdown__separator {
    font-size: 34px;
  }
  .at-countdown--card .at-countdown__time-box {
    padding: 0 10px;
  }
}
