page {
  background-color: #eee;
}

.container {
  box-sizing: border-box;
  background-color: #eee;
  min-height: 100%;
}
.padding-container {
  padding: 0 15px;
  padding-bottom: 20px;
  // transform-style: preserve-3d;
  text {
    backface-visibility: hidden;
  }
}
.rotate-container {
  animation: rotate 0.2s linear 1;
}
// 旋转动画
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
// 卡片
.at-card {
  background-color: rgba(255, 255, 208, 0.5);
  border: 0;
  box-shadow: 2px 5px 5px #aaa;
}
.at-card__content-note {
  margin-left: 20px;
  font-weight: bold;
  color: #cc3333;
  height: 26px;
}
// 比赛结果
.over-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  background: no-repeat url("http://cdn.renwuming.cn/static/jmz/result-bk.jpg")
    0 0 / cover;
  text {
    color: #1f262c;
  }
  &.team0 text {
    color: #e35654;
  }
  &.team1 text {
    color: #385073;
  }
}
// 倒计时
.stage-count-down-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  margin-bottom: 20px;
  background: no-repeat url("http://cdn.renwuming.cn/static/jmz/result-bk.jpg")
    0 0 / cover;
  font-family: yansong;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin-right: 10px;
    line-height: 70px;
    font-size: 26px;
    color: #1f262c;
  }
  at-countdown-item:first-child {
    display: none;
  }
  .at-countdown--card .at-countdown__time-box {
    border: none;
    background-color: transparent;
    padding: 0 6px;
    .at-countdown__time {
      font-family: TrebuchetMS, "Microsoft YaHei", sans-serif;
      font-size: 60px;
    }
    &:after {
      width: 0;
    }
  }
  .at-countdown__separator {
    font-size: 32px;
  }
  .at-countdown--card .at-countdown__time-box {
    padding: 0 10px;
  }
}

// 翻转按钮
.img-btn-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 24px;
  image {
    width: 120px;
    height: 56px;
  }
  text {
    font-size: 20px;
    font-family: TrebuchetMS, "Microsoft YaHei", sans-serif;
    text-align: center;
    color: #242831;
  }
}
.img-btn-box.right {
  left: initial;
  right: 30px;
  image {
    width: 104px;
  }
}

.at-card__header {
  padding: 10px;
  border-bottom: 1px #aaa solid;
  text-align: center;
}
.at-card__header-title {
  white-space: pre-wrap;
}
.at-card__content {
  padding-left: 0;
  padding-right: 0;
}
.grey {
  background-color: #ddd;
}
// 回合列表
.round-list.team1 {
  .round-item {
    .at-card__header-title {
      color: #385073;
    }
  }
}
.round-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.round-item {
  width: 350px;
  margin: 0;
  margin-bottom: 15px;
  .at-card__header-title {
    font-family: yansong;
    color: #e35654;
  }
}

.battle-item.team1 {
  .at-card__header {
    background: repeat url("http://cdn.renwuming.cn/static/jmz/blue-bk-new.jpg");
  }
}
.battle-item {
  width: 100%;
  margin-top: 20px;
  box-shadow: none;
  background-color: #ece4c6;
  .at-card__content {
    padding-top: 0;
    border: 1px solid #aaa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
  }
  .at-card__header {
    flex: 1;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: repeat url("http://cdn.renwuming.cn/static/jmz/red-bk-new.jpg");
    text {
      font-family: yansong;
      color: #fff;
      text-align: left;
      text-indent: 20px;
      flex: 2;
    }
    .at-card__header-extra {
      max-width: 1000px;
      display: inline-block;
      text-indent: 0;
      font-size: 22px;
      white-space: pre-wrap;
      flex: 1.2;
    }
  }
}
// 结果表格
.result-talbe.team1 {
  .at-card__header .at-card__header-title {
    color: #385073;
  }
}
.result-talbe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  min-height: 280px;
  .at-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .at-card__header-title {
      color: #e35654;
      font-family: yansong;
      font-size: 26px;
    }
    .at-card__header-extra {
      margin: 0;
      font-weight: bold;
      font-size: 32px;
    }
  }
}
.table-item {
  width: 180px;
  margin: 0;
  margin-right: 2px;
  height: 100%;
  border-radius: 10px;
}
// 提交按钮
.submit-btn.team1 {
  background: repeat url("http://cdn.renwuming.cn/static/jmz/blue-bk-new.jpg");
}
.submit-btn {
  height: 70px;
  line-height: 70px;
  margin: 10px 40px;
  margin-bottom: 0;
  color: #fff;
  font-family: yansong;
  background: repeat url("http://cdn.renwuming.cn/static/jmz/red-bk-new.jpg");
  border: 0;
}
// 浮动按钮
.rotate-btn .at-fab {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 900;
  width: 120px;
  height: 120px;
  image {
    width: 120px;
    height: 120px;
  }
}
.shake.at-badge {
  animation: shake 1.5s linear infinite;
}

// 回合状态
.round-container {
  display: flex;
  border-bottom: 1px #aaa solid;
}
.round-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 20px;
  .row-tip {
    display: flex;
    align-items: center;
    height: 50px;
    image {
      width: 280px;
      height: 20px;
    }
    text {
      font-family: yansong;
      font-size: 22px;
      margin-left: 30px;
      color: #e35654;
    }
    text.team1 {
      color: #385073;
    }
  }
}
.round-status.right {
  border-left: 1px #aaa solid;
  .row-tip text {
    margin-left: 0;
  }
}
.round-status.right at-icon {
  margin-left: 30px;
}
.round-status .row {
  display: flex;
  align-items: center;
  height: 70px;
}
.round-status .row .left {
  margin-right: 20px;
}
.card-tip {
  display: block;
  font-weight: bold;
  padding: 10px 30px;
}
.over-tip {
  font-family: yansong;
}
// 队伍状态
.team-status {
  display: flex;
  justify-content: space-between;
  background-color: #b3b3b3;
  border-bottom: 4px solid #b3b3b3;
}
.team-title.team1 .user-list {
  background: url("http://cdn.renwuming.cn/static/jmz/blue-bk-new.jpg") !important;
}
.team-title {
  display: flex;
  flex-basis: 373px;
  height: 280px;
  box-sizing: border-box;
  flex-direction: column;
  font-size: 30px;
  background: no-repeat
    url("http://cdn.renwuming.cn/static/jmz/team-status-bk.jpg") 0 0 / cover;
  color: #fff;
  .title-row {
    display: flex;
    align-items: center;
    margin-left: 44px;
    height: 44px;
    image {
      width: 30px;
      height: 30px;
    }
    .title {
      line-height: 44px;
      margin-left: 10px;
      font-size: 30px;
      color: #535353;
      font-family: yansong;
    }
  }
  .detail-row {
    display: flex;
    margin-left: 10px;
    margin-right: 14px;
    padding: 10px;
    align-items: center;
    background-color: #c8ccd4;
    border: 2px solid #999ca2;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #aaa;
    .user-list {
      flex-grow: 1;
      flex-direction: column;
      background: repeat
        url("http://cdn.renwuming.cn/static/jmz/red-bk-new.jpg");
      border-radius: 10px;
      padding-left: 14px;
      &.team-user-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 248px;
        min-height: 180px;
        padding: 0;
      }
    }
    .score-list {
      width: 64px;
      flex-direction: column;
      margin-left: 12px;
      color: #474747;
      font-family: yansong;
      .sum-score {
        color: #1f262c;
        font-size: 46px;
        padding-bottom: 4px;
        text-align: center;
        border-bottom: 4px solid #4e515a;
        margin-bottom: 4px;
      }
      .score {
        font-size: 20px;
      }
      .score.right {
        text-align: right;
        border-bottom: 1px solid #4e515a;
        margin-top: 0;
        padding-bottom: 4px;
        margin-bottom: 4px;
      }
      .score.right:last-child {
        border-bottom: none;
      }
      text {
        display: block;
      }
    }
  }
}

// 顶部标题
.title-box.title1 {
  background: repeat url("http://cdn.renwuming.cn/static/jmz/blue-bk-new.jpg");
}
.title-box {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 208, 0.5);
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-family: yansong;
  box-shadow: 2px 5px 5px #aaa;
  background: repeat url("http://cdn.renwuming.cn/static/jmz/red-bk-new.jpg");
}

// 图例
.tuli-container {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-left: 0;
}
.tuli {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 24px;
  margin-right: 15px;
}
.tuli .block {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.tuli .team0 {
  background-color: #e35654;
}
.tuli .team1 {
  background-color: #385073;
}
.tuli .key {
  background-color: #ffcc00;
}

// 提交提示窗口
at-modal {
  font-family: TrebuchetMS, "Microsoft YaHei", sans-serif;
  .submit-tip text {
    color: #555;
  }
  at-modal-header {
    display: block;
    text-align: center;
  }
  at-modal-content .detail-row {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
  }
  at-modal-content .left {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  at-modal-content .right {
    margin-left: 20px;
    display: block;
    width: 220px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #000;
    color: #fff;
    box-shadow: 3px 3px 3px #aaa;
  }
  at-modal-action button {
    font-size: 32px !important;
  }
}

// 顶部
.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border: 4px solid #b3b3b3;
  border-left: 0;
  border-right: 0;
  .top-bk {
    width: 620px;
    height: 60px;
    margin-right: 20px;
    background: no-repeat url("http://cdn.renwuming.cn/static/jmz/top-bk.png") 0
      0 / cover;
  }
  .menu-btn {
    width: 70px;
    height: 70px;
    background: no-repeat url("http://cdn.renwuming.cn/static/jmz/home-btn.png")
      0 0 / cover;
  }
}

.hidden {
  visibility: hidden;
}
