.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  padding-right: 20px;
}
.grey {
  background-color: #ddd;
}
.code {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #000;
  color: #fff;
  box-shadow: 3px 3px 3px #aaa;
}
.code.battle {
  width: 80px;
}
.code.edit {
  background-color: #fff;
  color: #000;
}
.code.team0 {
  background-color: #a40000;
}
.code.team1 {
  background-color: #100964;
}
.code.key {
  background-color: #FFCC00;
}
.hidden {
  visibility: hidden;
}
.word {
  flex: 1;
  color: #003366;
  margin-left: 24px;
  margin-right: 24px;
  padding: 10px;
  margin-bottom: 0;
  line-height: 44px;
  height: 44px;
  background-color: #fff;
}
