page {
  height: 100%;
  background-color: #eef5ff;
}
.login-btn {
  background-color: #2BA245;
  position: relative;
  width: 450px;
  margin-top: 20px;
  border: 1px #2BA245 solid;
}
@font-face {
  font-family:'yansong';
  src:url('https://www.renwuming.cn/static/jmz/fonts/yansong.otf') format('truetype');
}

